@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 520px;
    width: 450px;
    margin: auto;
    background-color: #de9dda;
    box-shadow: rgba(207, 14, 14, 0.548) 0px 10px 20px, rgba(0, 0, 0, 0.197) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #43413f ;
    border: solid rgb(31, 246, 60) 0.5px;
    color: rgb(187, 240, 14);
    border-radius: 10px;
    width: 100%;
    height: 60%;
}

.button {
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #19e697;
    color: white;
    border: solid rgba(14, 221, 14, 0.404) 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

.button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
